<a href="https://colab.research.google.com/github/mrsandy1965/DVA_Practice/blob/main/DVA_PANDAS_Lec1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('/content/cars_sampled - cars_sampled.csv')
df.head()

In [24]:
df.info()

In [25]:
df.describe()

In [26]:
df.isnull().sum()

In [27]:
df.notnull().sum()

In [28]:
df.dropna()
df.fillna(0)

In [29]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [30]:
# rename
df.rename(columns={'old_name':'new_name'})

In [31]:
df.reset_index(drop=True)

In [32]:
# astype() -> df['Age'] = df['Age'].astype(int)
# to_datetime() -> pd.to_datetime(df['Date'])

In [33]:
# replace() -> df.replace('M',"Male")
# map() -> df['Gender'].map({'M':1,'F';0})
# apply() -> df['Age'].apply(abs)

In [34]:
# sorting -> df.sort_values('Age')
# Filter -> df[df['Salary'] < 200000]
# clip -> df["Salary"].clip(0,200000) -> limit values between the range changes value less than 0 to 0 and more than 200000 to 200000